
$primary: #ffa202;
$light: #93D7D6;
$zindex-offcanvas: 1095;


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";




$custom-theme-colors: (
  "altlight": #fe9bba,
  "altdark": #ff3473,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import '../node_modules/bootstrap/scss/bootstrap';